TZ=Europe/Paris

POSTGRES_PASSWORD=

PAPERLESS_SECRET_KEY=
PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_PASSWORD=

ADMIN_TOKEN=         # generate: openssl rand -base64 48

# SMTP for Vaultwarden, Gitea
SMTP_HOST=
SMTP_FROM=
SMTP_PORT=587
SMTP_SECURITY=starttls
SMTP_TIMEOUT=15
SMTP_USERNAME=
SMTP_PASSWORD=

CHIYOGAMI_SECRET_KEY=

CONVERTX_JWT_SECRET=

DOCKER_SEND_IMAGE=registry.gitlab.com/timvisee/send:latest
SEND_BASE_URL=https://send.home

# Password for the 'seafile' Postgres user (set this in Postgres too)
SEAFILE_DB_PASSWORD=       # generate: openssl rand -base64 32
SEAFILE_ADMIN_EMAIL=
SEAFILE_ADMIN_PASSWORD=
